<!-- Modal -->
<div class="afe-modal" id="afe-modal-one" aria-hidden="true">
    <div class="afe-modal-dialog">
        <div class="afe-modal-header afe-gradient-top">
        <span ><a href="#afe-close" class="afe-close" aria-hidden="true">×</a></span>
        <h2>{{ lang.MENU_HELP }}</h2>
        </div>
        <div class="afe-modal-body">
            <div id="AddonFrameBox" style="white-space: nowrap;">{{ Message }}</div>
        </div>
        <div class="afe-modal-footer afe-gradient-bottom">
        <a href="#afe-close" class="afe-btn afe-btn-danger" style="font-size: 0.925em;">{{ lang.TEXT_BACK }}</a>
        </div>
    </div>
</div>
<!-- /Modal -->

